.H5{
    position: relative;
    text-align: center;
    font-size: 60px;
}
.P1{
    text-align: center;
     position: relative;
    font-size: 30px;
}
.P{
     text-align: center;
     position: relative;
    font-size: 30px;
}