.H5{
    position: relative;
    text-align: center;
    font-size: 60px;
    color: rgb(61, 65, 87);

}
.p1{
    position: absolute;
    font-size: 30px;
    top: 600px;
    left: 40px;
    padding-left: 400px;
    padding-right: 400px;
    color: rgb(61, 65, 87);
}
.P{
    position: relative;
    font-size: 30px;
    top: 200px;
    padding:10px;
}
.Img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
    border-radius: 7px;
    position: relative;
    bottom: 29px;

}
