
.H3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 55px;
    color: rgb(61, 65, 87);
}

.P3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: rgb(61, 65, 87);
}


input{
    font-size: 1rem;
    padding:0.5rem;
    margin:0.9rem 0;
    width:50%;
    border-radius: 4px;
}
button{
    padding:0.2rem;
    border-radius: 4px;
}

p1{
    color: rgb(61, 65, 87);
    font-size: 20px;
    position: relative;
    top:-20px;
}
.thank {
    color: rgb(61, 65, 87);
    font-size: 50px;
    position: relative;
    top:100px;
}
.soon {
    color: rgb(61, 65, 87);
    font-size: 50px;
    position: relative;
    top:100px;
}