
.H3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 55px;
}


.P3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    

}
.Send{
    position: relative;
    text-align: center;
    right: 2px;
    top: 12px;



}
.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;

} 
.P1{
    position: absolute;
    text-align: center;
    font-size: 20px; 
     left: 840px;
     top:300px;
    
}


