.dark {
    background-color: #333;
    color: #fff;
    }
    .light {
    background-color: #fff;
    color: #333;
    }
.Button{
    position: absolute;
     right: 250px;
     bottom:670px;
     border-radius: 30px 30px 30px;

    
}
.toggle{
    position: absolute;
     right: 250px;
    bottom: 600px;
     border-radius: 30px 30px 30px; 
}

.LogLight{
    position: absolute;
     right: 250px;
    bottom: 570px;
     border-radius: 30px 30px 30px; 
}
