.dark {
    background-color: rgb(136, 163, 168);
    color: #fff;
    }
    .light {
    background-color: #fff;
    color: rgb(0, 0, 0);
    }
.Button{
    position: fixed;
    right: 400px;
    bottom: -100px;
    border-radius: 30px 30px 30px; 

}
.toggle{
    position: fixed;
    right: 400px;
    bottom: -100px;
    border-radius: 30px 30px 30px;
}

.LogLight{
    position: fixed;
    right: 400px;
    bottom: -100px;
    border-radius: 30px 30px 30px;
}
.LoggedInDark{
    position: fixed;
    right: 280px;
    bottom: 809px;
    border-radius: 30px 30px 30px;
}

.Loggedindark{
    position: fixed;
    right: 320px;
    bottom: 850px;
    border-radius: 30px 30px 30px; 
}
.Toggle{
    position: fixed;
    right: 320px;
    bottom: 850px;
    border-radius: 30px 30px 30px; 
}
.contactDark{
    position: fixed;
    right: 90px;
    bottom: 480px;
    border-radius: 30px 30px 30px;
    z-index: 999;
}

.contactDark2{
    position: fixed;
    right: 90px;
    bottom: 425px;
    border-radius: 30px 30px 30px;
    z-index: 999;
}

.buttonDark{
    position: fixed;
    right: 290px;
    bottom: 850px;
    border-radius: 30px 30px 30px;
}

.LoginPage {
    padding-top: 140px;
}