.H1{
    position:relative;
    text-align: center;
    font: blue;
}
.H2{
    position:relative;
    text-align: center;
}
.h1{
    position:relative;
    text-align: left;
}
.homesForSale {
    text-align: center;
}