


.HomeLoggedcontainer {
    position: relative;
    text-align: center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 30%, transparent 100%);
  }

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.HomeLogggedInImg {
    width: 100%;
    border-radius: 20px;
}

.dashListings {
    height: 250px;
    width: relative
}
.listing{
    position: relative;
    left: 302px;
    padding-bottom: 20px;
}
P{
    position: relative;
    padding-bottom: 20px;
}
.W{
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    top: 45px;
}
.O{
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    top: 30px;
}