.home-carousel{
    position: absolute;
    top: -130px;
    width:auto;

}

.words {
    position: absolute;
    top: 25%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.carousel-caption {
    color: rgb(61, 65, 87);
    text-shadow: 1px 1px rgb(255, 255, 255);
    top: 209px;
}

.carousel-image {
    opacity: 55%;
}