.home-carousel{
    position: absolute;
    top: -200px;
    width:auto;

}

.words {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.carousel-caption {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.carousel-image {
    opacity: 55%;
}